create .env file in the root directory in backend and past this:

**note: replace [postgres_password] with your pgadmin password and
postgres_db_name with your newly created database

DATABASE_URL='postgresql://postgres:[postgres_password]@localhost:5432/[postgres_db_name]?schema=public'
JWT_SECRET=my-super-secret-key